/* Fonte da página */
@import url('https://fonts.googleapis.com/css2?family=Felipa&family=Google+Sans+Code:ital,wght@0,300..800;1,300..800&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

/* Estilização padrão da pagina */
body{
    margin: 0;
    font-family: "Montserrat", sans-serif;
}

.pop{
    margin: 0;
}

.pop h1{
    font-size: 40px;
    font-weight: bold;
    text-align: center;
    color: rgb(26, 31, 90);
}

.slider{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.slider button{
    width: 35px;
    height: 35px;
    border: none;
    border-radius: 20px;
    background-color: rgb(0, 0, 0);
    color: white;
}

.slider img{
    width: 600px;
    height: 500px;
    padding-left: 5%;
}

.pop p{
    padding: 2% 0 9% 7%;
    margin: 0;
    white-space: pre-line;
}