/* Fonte da página */
@import url('https://fonts.googleapis.com/css2?family=Felipa&family=Google+Sans+Code:ital,wght@0,300..800;1,300..800&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

/* Estilização padrão da pagina */
body{
    margin: 0;
    font-family: "Montserrat", sans-serif;
}

/* Estilização do Header da página */
header{
    background-color: #141823;
    padding: 20px 0 40px 0;
}

.divHeader{
    position: relative;
}

.logo{
    width: 12%;
    padding-left: 8%;
}

nav{
    position: absolute;
    color: white;
    top: 28%;
    font-size: 25;
    right: 8%;
}

nav li{
    display: inline;
    margin-right: 100px;
}

.container{
    width: 100%;
    height: 70%;
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.banner{
    /* width: 100%;
    height: 50%;
    position: relative;
    object-fit: cover;
    object-position: center; */
    width: 80%;
    height: 80%;
    position: relative;
    border-radius: 30px;
}

/*Estilização dos Titulos*/
.titulos{
    text-align: center;
}

/* Estilização do Sobre Nós*/
.sobre_nos{
    width: 70%;                     
    margin-left: 15%;
    text-align: justify; 
    font-size: 20px;
}

.img_sobre_nos{
    width: 31%;
    float: left; /* deixa imagem flutuando na esquerda*/
    padding-right: 10px;
}

.titulo_sobre_nos{
    clear: left; /*limpa tudo que está na esquerda*/
    /* text-align: center; */
}

/*Estilização da sessão NOSSO ESTABELECIMENTO*/
.mapa{
    text-align: center;
    background: linear-gradient(white, #8ea0ad);
}

.Produtos{
    width: 100%;
    align-items: center;
    height: 70%;
    display: flex;
    justify-content: center;
    text-align: center;
    background: linear-gradient(#8ea0ad, #6b90aa); /*#001B2E*/
}

.subProdutos{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 90%;
    height: 90%;
}

.Prod{
    width: 80%;
    height: 50%;
    margin: 10px;
    display: flex;
    justify-content: space-around;
}

.subProd{
    width: 20%;
    box-shadow: 5px 5px 20px 2px;
    align-items: center;
    display: flex;
    justify-content: center;
    text-align: center;
    border-radius: 25px;
}

.subProd img{
    width: 200px;
    height: 200px;
}

.link{
    text-decoration: none;
    color: rgba(0, 0, 0, 0.699);
}

/* Video */

.video{
    text-align: center;
    background: linear-gradient(#6b90aa, #001B2E)
}